<p-card class="block mt-3">
    <ng-template pTemplate="header">
        <h2 class="m-0 px-4 pt-4">
            Welcome to <i>Checky</i>, the Submission Checklist Generator
        </h2>
    </ng-template>
    <ng-template pTemplate="content">
        <i>Checky</i> is a free web-based, open-source submission-checklist generator. The purpose of <i>Checky</i> is twofold. First, <i>Checky</i> facilitates the creation and management of checklists with a checklist <a routerLink="/archive">archive</a>, a checklist <a routerLink="/generator">generator</a>, and a recommender system for checklist items. Second, with <i>Checky</i> we want to raise awareness of the value of submission checklists and initiate discussions about if and how the recommender system community should utilize such lists.
        <br><br>
        Please note that the demo-paper of <i>Checky</i> is currently under review at the ACM RecSys Conference 2024. Therefore, this page is anonymous. <i>Checky</i> is not affiliated with Recommender-Systems.com, but we are grateful for their support, i.e. the webspace and subdomain they provide to us.
    </ng-template>
</p-card>
