<!-- PrimeNG card component displaying a welcome message and introductory content -->
<p-card class="block mt-3">
    <ng-template pTemplate="header">
        <!-- Header section with a title -->
        <h2 class="m-0 px-4 pt-4">
            Welcome to <i>Checky</i>, the Submission Checklist Generator
        </h2>
    </ng-template>
    <ng-template pTemplate="content">
        <!-- Content section introducing Checky's purpose and functionality -->
        <i>Checky</i> is a free web-based, open-source submission-checklist generator. 
        The purpose of <i>Checky</i> is twofold. First, <i>Checky</i> facilitates the creation and management of checklists 
        with a checklist <a routerLink="/archive">archive</a>, a checklist <a routerLink="/generator">generator</a>, 
        and a recommender system for checklist items. 
        Second, with <i>Checky</i> we want to raise awareness of the value of submission checklists and initiate discussions 
        about if and how the recommender system community should utilize such lists.
    </ng-template>
</p-card>
