    <!-- Introductory section with dividers and a descriptive paragraph -->
<div>
    <p-divider styleClass="mt-5"/>
    <p class="my-4">
        Use <i>Checky's</i> generator to create new and manage existing checklists. Give a name to your new checklist, search the database for keywords (e.g. 'evaluation', or 'source code') and add questions to your list. Use the recommender system at the bottom to add more questions. Save your list, and share it with colleagues or come back later to continue editing your checklist. When you are done, export it as LaTeX.
    </p>
    <p-divider />
</div>

    <!-- Display error message if any errors occur -->
@if (errorMsg.length > 0) {
    <h3>{{ errorMsg }}</h3>
}

@if (loadingSavedChecklist) {
        <!-- Loading state with skeleton loaders while fetching saved checklist -->
    <p-skeleton height="2rem" class="mt-3"/>
    <p-skeleton height="3rem" class="mt-2"/>
    <p-skeleton height="1rem" class="my-4"/>
    <p-skeleton height="2rem" class="mt-3"/>
    <p-skeleton height="3rem" class="mt-2"/>
    <p-skeleton height="10rem" class="mt-5"/>
} @else if(errorMsg.length == 0) {
    <h3>Give Your Checklist a Name:</h3>
    <input type="text" pInputText placeholder="My Awesome Checklist" [(ngModel)]="currentChecklistName">

    <div class="mt-3 flex align-items-center">
        <h3>Add a Description/Instructions:</h3>
        <i class="pi pi-question-circle ml-2 text-xl" pTooltip="This text will appear above your checklist. Use it to provide a description or instructions for the author."></i>
    </div>
    <textarea type="text" rows="2" pInputTextarea [(ngModel)]="currentChecklistDescription"></textarea>
    
    <p-divider class="mt-3"/>
    
    <!-- Search for and add questions -->
    <h3>Add Questions:</h3>
    <p-autoComplete #autocomplete
        id="questionSearch"
        [suggestions]="suggestions" 
        (completeMethod)="search($event)"
        (onSelect)="select($event)"
        optionLabel="question"
        panelStyleClass="vw-panel"
        scrollHeight="70vh"
        styleClass="w-full"
        inputStyleClass="w-full"
        placeholder="Search for archived questions...">
    
        <ng-template let-item pTemplate="item">
            <h4 style="text-wrap: wrap;" [innerHTML]="item.question"></h4>
            <ul>
                <!-- Display related conferences for a question -->
                @for (conf of item.conference; track $index) {
                    <li>
                        {{ conf.conference.name }} - {{ conf.year }}
                    </li>
                }
            </ul>
        </ng-template>
    </p-autoComplete>
      <!-- Option to add a new question -->
    <div class="flex flex-column align-items-center">
        <h3>OR</h3>
        <p-button label="New Question" icon="pi pi-plus" (onClick)="addQuestionVisible = true"/>
    </div>
    <!-- Display existing questions in a card layout -->
    @for (question of questions; track question.id) {
        <p-card class="block mt-3">
            <ng-template pTemplate="title">
                    <!-- Question management actions -->
                <div class="flex">
                    <span>{{ $index + 1 }}</span>
                    <div class="ml-auto"></div>
                    <p-button icon="pi pi-arrow-up" class="ml-1" [disabled]="$first" [style.visibility]="$first ? 'hidden' : 'visible'" [rounded]="true" [text]="true" severity="secondary" (click)="move($index, true)"/>
                    <p-button icon="pi pi-arrow-down" class="ml-1" [disabled]="$last" [style.visibility]="$last ? 'hidden' : 'visible'" [rounded]="true" [text]="true" severity="secondary" (click)="move($index, false)"/>
                    <p-button icon="pi pi-pencil" class="ml-1" [rounded]="true" [text]="true" severity="secondary" (click)="edit($index)"/>
                    <p-button icon="pi pi-trash" class="ml-1" [rounded]="true" [text]="true" severity="secondary" (click)="remove($index)"/>
                </div>
            </ng-template>
            <h4 [innerHTML]="question.question"></h4>
            <span>Answer Type: {{ question.answerType | answerType }}</span>
        </p-card>
    }
    
    <!-- Recommendations based on existing questions -->
    @if (questions.length > 0) {
        <div class="flex align-items-center">
            <div class="font-bold text-xl fadein animation-duration-500 flex align-items-center">
                <span>Similar Questions:</span>
                <i class="pi pi-question-circle ml-2 text-xl" pTooltip="Similar questions based on the questions already in your checklist. Questions are fetched from our question archive."></i>
            </div>
            <p-button class="ml-auto py-3" size="small" label="Get new recommendations" icon="pi pi-sync" severity="info" (onClick)="fetchRecommendations()" [loading]="fetchRecommendationsLoading"></p-button>
        </div>
        
        <!-- Accordion for recommended questions -->
        <p-accordion #recommendationAccordion [(activeIndex)]="activeRecommendation" class="overflow-x-hidden">
            @for (rQ of recommendedQuestions; track rQ.id) {
                <p-accordionTab iconPos="end" [class.fadeoutright]="fetchRecommendationsLoading" class="fadeinleft animation-fill-forwards animation-ease-in-out animation-duration-500 block">
                    <ng-template pTemplate="header">
                        <p-button label="Add" icon="pi pi-plus-circle" (onClick)="suggestionAdd($event, rQ, $index)"></p-button>
                        <span class="mx-3" [innerHTML]="rQ.question"></span>
                    </ng-template>
                    <ul>
                        <!-- Related conferences -->
                        @for (conf of rQ.conference; track $index) {
                            <li>
                                {{ conf.conference.name }} - {{ conf.year }}
                            </li>
                        }
                    </ul>
                </p-accordionTab>
            }
        </p-accordion>
    
        <p-divider class="my-3"/>

        <!-- ChatGPT-powered recommendations -->
        <div class="flex align-items-center">
            <div class="font-bold text-xl fadein animation-duration-500 flex align-items-center">
                <span>ChatGPT recommends:</span>
                <i class="pi pi-question-circle ml-2 text-xl" pTooltip="Checky sends all items in your checklist to ChatGPT's API and asks for more questions. Please note, there is a usage limit per day."></i>
            </div>
            <p-button class="ml-auto py-3" size="small" label="Ask for new questions" icon="pi pi-sync" severity="info" (onClick)="fetchGPTRecommendations()" [loading]="fetchGPTRecommendationsLoading"></p-button>
        </div>

        <div class="overflow-x-hidden">
            @for (rQ of recommendedGPTQuestions; track rQ.id) {
                <div class="flex align-items-center custom-card fadeinleft animation-fill-forwards animation-ease-in-out animation-duration-500 mt-1" [class.fadeoutright]="fetchGPTRecommendationsLoading">
                    <p-button label="Add" icon="pi pi-plus-circle" (onClick)="gptSuggestionAdd($event, rQ, $index)"></p-button>
                    <span class="mx-3 font-bold">{{ rQ.question }}</span>
                </div>
            }
    
            @if (rateLimitNextFree) {
                <div class="flex align-items-center custom-card fadeinleft animation-fill-forwards animation-ease-in-out animation-duration-500 mt-1" [class.fadeoutright]="fetchGPTRecommendationsLoading">
                    <!-- Display rate limit message -->
                    <div class="mx-3 flex flex-column">
                        <b style="color: var(--red-500);">Rate Limit Exceeded!</b>
                        <span>We currently have a global rate limit on the ChatGPT generated questions.</span>
                        <span>The next request is available at: {{ rateLimitNextFree | date:'short':'':'de' }}</span>
                    </div>
                </div>
            }
        </div>

        <p-divider class="my-3"/>
     <!-- Save and export options -->
        <div class="flex">
            <p-button label="Save & Share" icon="pi pi-save" severity="info" class="ml-auto mr-2" (onClick)="saveChecklist()" [loading]="saveChecklistLoading"></p-button>
    
            <p-button label="Export (LaTeX)" icon="pi pi-cog" severity="success" (onClick)="generateTex()" [loading]="texGenerationLoading"></p-button>
        </div>
    }
        <!-- Dialogs for output and sharing -->
    <app-question-editor [(visible)]="addQuestionVisible" header="New Question" (onSave)="addQuestion($event)" />
    <app-question-editor #questionEditor [visible]="false" header="Edit Question" />
    
    <p-dialog header="Done!" [modal]="true" [(visible)]="outputDialogVisible" [style]="{ width: '66vw' }" contentStyleClass="p-5" focusOnShow="false">
        <textarea type="text" class="w-full" readonly pInputTextarea rows="10">{{ texOutput }}</textarea>
        <div class="flex justify-content-center gap-3 mt-3">
            <p-button label="Copy" icon="pi pi-clipboard" (onClick)="copyTexToClipboard()"></p-button>
            <p-button label="Download" icon="pi pi-download" (onClick)="downloadTex()"></p-button>
        </div>
    </p-dialog>
    
    <p-dialog header="Saved!" [modal]="true" [(visible)]="saveDialogVisible" [style]="{ width: '66vw' }" contentStyleClass="px-4 pb-4" focusOnShow="false">
        <span class="block mb-3 text-xl">Anyone with the link below can view <b style="color: var(--red-500);">and edit</b> this checklist:</span>
        <input type="text" class="w-full" readonly pInputText rows="1" [value]="currentEditLink" />
        <div class="flex justify-content-center gap-3 mt-3">
            <p-button label="Copy" icon="pi pi-clipboard" (onClick)="copyEditLinkToClipboard()"></p-button>
        </div>
    </p-dialog>
    
    <p-toast />
}
