<!-- Dialog for creating or editing a question -->
<!-- NOTE: Closing using escape caused some problems related to #1, so I disabled it for now using closeOnEscape="false" -->
<p-dialog 
    [header]="header" 
    [modal]="true" 
    [(visible)]="visible" 
    closeOnEscape="false"
    [style]="{ width: '66vw' }" 
    contentStyleClass="p-5" 
    focusOnShow="false"
>
    <div class="flex flex-column gap-5">
        <!-- Input for the question text with a floating label -->
        <p-floatLabel class="w-full">
            <textarea 
                id="newQuestion" 
                type="text" 
                class="w-full" 
                pInputTextarea 
                [(ngModel)]="questionText" 
                rows="5"
            ></textarea>
            <label for="newQuestion">Question Text</label>
        </p-floatLabel>

        <!-- Selection for the question type -->
        <div>
            <label for="newQuestionType" class="block mb-2">Question Type:</label>
            <p-selectButton 
                id="newQuestionType"
                [options]="answerTypes" 
                [(ngModel)]="selectedAnswerType"
            />
        </div>
    </div>

    <div class="flex justify-content-end gap-2 mt-5">
        <p-button 
            label="Clear Form" 
            class="mr-auto" 
            severity="danger" 
            size="small" 
            (click)="clearForm()" 
        />

        <p-button 
            label="Cancel" 
            severity="secondary" 
            size="small" 
            (click)="visible = false; visibleChange.emit(false)" 
        />

        <p-button 
            label="Save" 
            severity="success" 
            size="small" 
            (click)="save($event)" 
        />
    </div>
</p-dialog>
